:local(.formWrapper) {
  display: flex;
  flex-wrap: wrap;
  /* height: 100%; */ 
  /* flex 布局与高度有关系 */
}

:local(.formItem) {
  display: flex;
  align-items: center;
  padding: 20px 0;
  padding-left: 20px;
}
:local(.formItem label) {
  min-width: 100px;
  /* text-align: right; */
}
:local(.inputItem) {
  width: 200px;
}
